html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: rgb(64, 64, 64);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 省略号 */
.ellipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* 3行超出省略号 */
.threeEllipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:3; 
}

/* 设置滚动条的样式 */

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}


/* 滚动槽 */

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
	border-radius: 6px;
}


/* 滚动条滑块 */

::-webkit-scrollbar-thumb {
	border-radius: 6px;
	background: #00c0ad44;
	-webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255, 0, 0, 0.4);
}


/* 渐变色按钮 */
.gradient-title{
	border-radius: 6px;
	color: rgb(88, 88, 88);
	background: linear-gradient(rgb(255, 255, 255),rgb(217, 217, 217));
	box-shadow: 0 6px 8px rgba(0,0,0,.2);
}

.defaultText {
	font-size: 16px;
	color: rgb(190, 190, 190);
}

.danger-valueText {
	font-size: 16px;
	color: rgb(255, 192, 0);
}

.warning-valueText {
	font-size: 16px;
	color: rgb(192, 80, 77);
}
  